<section id="footer">
  <div class="container rounded py-5 my-3">
    <div class="row">
      <div class="col-xs-12 col-sm col-md text-left py-3">
        <h2 class="fw-light pb-3">Acerca de </h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem orci, sollicitudin quis lobortis sit amet, porttitor dictum tellus. Vivamus odio est, egestas ut velit in, malesuada hendrerit ligula. </p>
        <a type="button" href="#faq" class="btn btn-outline-light btn-lg btn-group">Aprende más</a>
      </div>
      <div class="col text-left py-3">
        <h2 class="fw-light pb-3">Contacto</h2>
        <div class="row justify-content-start">
          <div class="col-3 col-xs-2">
            <p class="lead fw-normal">Email</p>
          </div>
          <div class="col-3 col-xs-2">
            <p class="lead">email(AT@)postcodex.com</p>
          </div>
        </div>
        <div class="row py-3">
          <div>
            <ul class="social-network social-circle">
              <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/postcode-x" target="_blank" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
      </div>
      </div>
    </div>

    <div class="col-sm py-4 text-center">
      <div class="about"><small>Creado por <a href="https://github.com/postcode-x" target="_blank"> postcode-x </a></small></div>
    </div>

    <div class="col-sm py-4 text-center">
        <div class="about"><small><a href="https://angular.io">Made in Angular</a></small></div>
    </div>

    <hr>

  </div>
</section>
