<section id="main">
  <div class="container">
    <div class="bg-white rounded">

      <nav class="navbar navbar-expand sticky-top justify-content-center nav-pills navbar-light bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#uno">Primer menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dos">Segundo menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tres">Tercer menu</a>
          </li>
        </ul>
      </nav>

      <div class="row py-2">
        <div class="col text-center text-secondary">
          <a id="uno"></a>
          <br>
          <h2 class="fw-light pt-5 text-dark">Aquí va un título</h2>
          <hr class="style-two" />

          <div class="d-flex justify-content-center py-5">
            <div id="keyboard">
              <div class="key white c" (mouseover)="msover('C3')" (mousedown)="msdown=true;play('C3');"(mouseup)="msdown=false"></div>
              <div class="key black c_sharp" (mouseover)="msover('C#3')" (mousedown)="msdown=true;play('C#3');"(mouseup)="msdown=false"></div>
              <div class="key white d" (mouseover)="msover('D3')" (mousedown)="msdown=true;play('D3');"(mouseup)="msdown=false"></div>
              <div class="key black d_sharp" (mouseover)="msover('D#3')" (mousedown)="msdown=true;play('D#3');"(mouseup)="msdown=false"></div>
              <div class="key white e" (mouseover)="msover('E3')" (mousedown)="msdown=true;play('E3');"(mouseup)="msdown=false"></div>
              <div class="key white f" (mouseover)="msover('F3')" (mousedown)="msdown=true;play('F3');"(mouseup)="msdown=false"></div>
              <div class="key black f_sharp" (mouseover)="msover('F#3')" (mousedown)="msdown=true;play('F#3');"(mouseup)="msdown=false"></div>
              <div class="key white g" (mouseover)="msover('G3')" (mousedown)="msdown=true;play('G3');"(mouseup)="msdown=false"></div>
              <div class="key black g_sharp" (mouseover)="msover('G#3')" (mousedown)="msdown=true;play('G#3');"(mouseup)="msdown=false"></div>
              <div class="key white a" (mouseover)="msover('A3')" (mousedown)="msdown=true;play('A3');"(mouseup)="msdown=false"></div>
              <div class="key black a_sharp" (mouseover)="msover('A#3')" (mousedown)="msdown=true;play('A#3');"(mouseup)="msdown=false"></div>
              <div class="key white b" (mouseover)="msover('B3')" (mousedown)="msdown=true;play('B3');"(mouseup)="msdown=false"></div>
              <div class="key white c" (mouseover)="msover('C4')" (mousedown)="msdown=true;play('C4');"(mouseup)="msdown=false"></div>
              <div class="key black c_sharp" (mouseover)="msover('C#4')" (mousedown)="msdown=true;play('C#4');"(mouseup)="msdown=false"></div>
              <div class="key white d" (mouseover)="msover('D4')" (mousedown)="msdown=true;play('D4');"(mouseup)="msdown=false"></div>
              <div class="key black d_sharp" (mouseover)="msover('D#4')" (mousedown)="msdown=true;play('D#4');"(mouseup)="msdown=false"></div>
              <div class="key white e" (mouseover)="msover('E4')" (mousedown)="msdown=true;play('E4');"(mouseup)="msdown=false"></div>
              <div class="key white f" (mouseover)="msover('F4')" (mousedown)="msdown=true;play('F4');"(mouseup)="msdown=false"></div>
              <div class="key black f_sharp" (mouseover)="msover('F#4')" (mousedown)="msdown=true;play('F#4');"(mouseup)="msdown=false"></div>
              <div class="key white g" (mouseover)="msover('G4')" (mousedown)="msdown=true;play('G4');"(mouseup)="msdown=false"></div>
              <div class="key black g_sharp" (mouseover)="msover('G#4')" (mousedown)="msdown=true;play('G#4');"(mouseup)="msdown=false"></div>
              <div class="key white a" (mouseover)="msover('A4')" (mousedown)="msdown=true;play('A4');"(mouseup)="msdown=false"></div>
              <div class="key black a_sharp" (mouseover)="msover('A#4')" (mousedown)="msdown=true;play('A#4');"(mouseup)="msdown=false"></div>
              <div class="key white b" (mouseover)="msover('B4')" (mousedown)="msdown=true;play('B4');"(mouseup)="msdown=false"></div>
              <div class="key white c" (mouseover)="msover('C5')" (mousedown)="msdown=true;play('C5');"(mouseup)="msdown=false"></div>
            </div>
          </div>

          <hr />

          <a id="dos"></a>
          <br>
          <div class="container pb-5">
          <h2 class="fw-light pt-5 text-dark">¿Cómo utilizar este sitio?</h2>
          <hr class="style-two" />
          </div>

          <div class="container pb-5">
            <h5 class="fw-light pt-3 text-dark">tips (#tag)</h5>
            <div class="row pt-5 pb-3 px-auto">
              <div class="col">
                <h5 class="fw-light text-dark">1. Paso uno</h5>
              </div>
              <div class="col">
                <h5 class="fw-light text-dark">2. Paso dos</h5>
              </div>
              <div class="col">
                <h5 class="fw-light text-dark">3. Paso tres.</h5>
              </div>
            </div>
            <a type="button" href="#analyze" class="btn btn-sample btn-lg btn-group">Empezar</a>
          </div>

          <hr />

          <a id="tres"></a>
          <br>
          <h6 class="fw-light pt-5 text-dark">FAQ</h6>
          <div class="container">

            <h2 class="fw-light pt-2 text-dark">1. ¿Pregunta frecuente #1?</h2>
            <hr class="style-two" />

            <div class="container pb-4">
              <h5 class="fw-light text-dark">Respuesta.
              </h5>
            </div>

            <h2 class="fw-light pt-2 text-dark">2. ¿Pregunta frecuente #2?</h2>
            <hr class="style-two" />

            <div class="container pb-4">
              <h5 class="fw-light text-dark">Respuesta.
              </h5>
            </div>

            <h2 class="fw-light pt-2 text-dark">3. ¿Pregunta frecuente #3?</h2>
            <hr class="style-two" />

            <div class="container pb-5">
              <h5 class="fw-light text-dark">Respuesta.
              </h5>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

